/*! ExtraCard.css */

/** Contenedor (carta) */
.extra-card-square {
  aspect-ratio: 1 / 1;
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid var(--border-color);
  border-radius: 20px;
  transition: transform 0.3s, border-color 0.3s, box-shadow 0.3s;
  position: relative;
  overflow: hidden;
}

.extra-card-square:hover {
  transform: translateY(-5px);
  border-color: var(--accent-purple);
  box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}

.card-front, .card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
}

.card-back {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  background: rgba(40, 40, 60, 0.505);
}

.extra-card-square:hover .card-front {
  opacity: 0;
}

.extra-card-square:hover .card-back {
  opacity: 1;
}

.card-img-container {
  height: 70%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255,255,255,0.05);
}

.card-img-container img {
  max-width: 100%;
  max-height: 100%;
  margin-top: 20px;
  border-radius: 10px;
}

.card-title {
  height: 30%;
  background: rgba(255,255,255,0.1);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: var(--accent-purple);
}

.card-description {
  color: var(--text-primary);
  font-size: 0.9rem;
  white-space: pre-line;
}

/** Grid section */
.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}


/*TODO: Responsive */
@media (max-width: 900px) {
  .grid-3-cols {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .extra-card-square {
    width: 100%;
  }
}
