/*! Home.css */

.main-layout {
    display: grid;
    grid-template-columns: 320px 1fr;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    position: relative;
    z-index: 1;
}

/** Separacion entre section */
.content-area section {
    margin-bottom: 60px;
}

/*TODO: RESPONSIVE */
@media (max-width: 900px) {
    .main-layout {
        display: block;
    }
}