/*! Navbar.css */
/** Contenedor de la Nav Flotante */
.floating-nav-container {
  position: sticky;
  top: 20px;
  z-index: 10;
  display: inline-block;
  margin-bottom: 40px;
  padding: 10px 20px;
  border-radius: 14px;
  background: rgba(20, 22, 30, 0.9);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

/** Top Nav */
.top-nav {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  font-size: 0.9rem;
}

/** Links */
.top-nav a {
  text-decoration: none;
  color: var(--text-secondary);
  transition: color 0.25s ease;
  white-space: nowrap;
  padding: 0px 5px 0px 5px;
}

/** Active + hover */
.top-nav a.active,
.top-nav a:hover {
  color: var(--accent-blue);
  background-color: rgba(51, 51, 51, 0.705);
  border: 2px solid var( --accent-blue);
  border-radius: 5px;
}

/*TODO: RESPONSIVE */
@media (max-width: 768px) {
  .floating-nav-container {
    width: 100%;
  }

  .top-nav {
    justify-content: space-between;
  }

  .lang-switch {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .top-nav {
    gap: 10px;
    font-size: 0.85rem;
  }
}