/*! Sidebar.css */

/** Contenido Principal*/
.sidebar {
  position: sticky;
  top: 40px;
  height: fit-content;
  padding: 30px;
  border-radius: 24px;
  border: 1px solid var(--border-color);
}

/** Panel de vidrio */
.glass-panel {
  background: var(--bg-glass);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

/** Encabesado del perfil */
.profile-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid var(--accent-blue);
  overflow: hidden;
  margin-bottom: 15px;
  background: #1a1c25;
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-header h1 {
  font-size: 2rem;
  line-height: 1.2;
  color: var(--accent-blue);
}

.profile-header h2 {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 15px;
  color: var(--text-primary);
}

/** Items de información */
.info-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.9rem;
  color: var(--text-secondary);
  margin-bottom: 5px;
}

.info-item .icon {
  font-size: 1.1rem;
  color: var(--text-secondary);
}

/** Enlaces sociales  */
.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.social-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  color: var(--text-secondary);
  text-decoration: none;
  transition: all 0.3s ease;
}

.social-icon:hover {
  background: rgba(255, 255, 255, 0.2);
  color: var(--accent-blue);
  transform: translateY(-3px);
}


/** Sobre mí */
.about-section {
  margin-top: 10px;
}

.about-section h3 {
  font-size: 1.05rem;
  margin-bottom: 10px;
}

/** Caja descripcción */
.quote-box {
  position: relative;
  padding: 15px 2.5px;
  color: var(--text-secondary);
  font-style: italic;
  font-size: 0.95rem;
}

.quote-box p {
  margin-bottom: 6px;
}

/** Comillas */
.quote-mark {
  position: absolute;
  font-size: 2rem;
  color: var(--accent-blue);
  opacity: 0.5;
  line-height: 0;
}

.quote-mark:first-child {
  top: 0;
  left: -6px;
}

.quote-mark.right {
  bottom: 0;
  right: 0;
}

/*TODO: RESPONSIVE */
@media (max-width: 900px) {
  .sidebar {
    position: relative;
    top: 0;
    margin-bottom: 30px;
  }
}

@media (max-width: 500px) {
  .sidebar {
    padding: 20px;
  }

  .profile-header h1 {
    font-size: 1.6rem;
  }

  .profile-header h2 {
    font-size: 1rem;
  }
}