/*! Global.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--text-primary);
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    min-height: 100vh;
    overflow-x: hidden;
    background: #0b0c10;
}

/** Contenedor principal del fondo */
.bg-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
    background: #0b0c10;
}

/** Mancha GRIS / BLANCO (Arriba a la derecha) */
.blob-blue {
    position: absolute;
    width: 600px;
    height: 600px;
    background: rgba(64, 64, 67, 0.4);
    /*? gris_blanco*/
    /*background: rgba(6, 29, 98, 0.4);  azul */
    right: -100px;
    border-radius: 50%;
    filter: blur(120px);
}

/** Mancha AZUL / GRIS (Centro derecha) */
.blob-purple {
    position: absolute;
    width: 500px;
    height: 500px;
    background: rgba(43, 189, 226, 0.35);
    right: 10%;
    top: 40%;
    border-radius: 50%;
    filter: blur(100px);
}

/** Mancha AZUL OSCURO (Abajo a la derecha) */
.blob-dark-blue {
    position: absolute;
    width: 400px;
    height: 400px;
    background: rgba(0, 47, 255, 0.25);
    right: 0;
    bottom: -50px;
    border-radius: 50%;
    filter: blur(80px);
}

/** Textura de ruido */
.noise {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.03;
    pointer-events: none;
    background-image: url('https://grainy-gradients.vercel.app/noise.svg');
}




:root {
    --bg-dark: #0b0c10;
    --bg-card: rgba(20, 22, 30, 0.8);
    --bg-glass: rgba(255, 255, 255, 0.05);
    --accent-blue: #4dabf7;
    --accent-purple: #da77f2;
    --text-primary: #ffffff;
    --text-secondary: #a0a0a0;
    --border-color: rgba(255, 255, 255, 0.1);
}

section {
  scroll-margin-top: 70px; /*? altura de tu navbar flotante */
}
